@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
9911165905<br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="pk.das8357@gmail.com">Support@example.com</a><br />
</address>