
@{
    ViewBag.Title = "View";
}

<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <STYLE TYPE="text/css">
    </STYLE>
</HEAD>
<BODY LANG="en-IN" DIR="LTR">
    <P STYLE="margin-left: 1in; text-indent: 0.5in; margin-bottom: 0.11in">
        <FONT FACE="Century, serif">
            <FONT SIZE=4 STYLE="font-size: 16pt">
                <B>
                    Automation
                    and OS Hardening
                </B>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0.11in">
        <FONT FACE="Century, serif">
            <FONT SIZE=3>
                This
                article will help you to automate Azure VM OS hardening manual
                activities using Azure Alerts and Azure Automation Runbooks. This
                article shows you how to configure and run a runbook by using alerts.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0.11in">
        <FONT FACE="Century, serif">
            <FONT SIZE=3>
                <B>
                    Pre-requisite:
                    -
                </B>
            </FONT>
        </FONT>
    </P>
    <OL>
        <LI>
            <P STYLE="margin-bottom: 0.11in">
                <FONT FACE="Century, serif">
                    <FONT SIZE=3>
                        Azure
                        subscription with Owner role permission.
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0.11in">
                <FONT FACE="Century, serif">
                    <FONT SIZE=3>
                        Latest
                        PowerShell Modules in Azure Subscription.
                    </FONT>
                </FONT>
            </P>
    </OL>
    <P STYLE="margin-bottom: 0.11in">
        <A NAME="_GoBack"></A><FONT FACE="Century, serif">
            <FONT SIZE=3>
                <B>
                    Workflow:
                    -
                </B>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0.11in">
        <FONT FACE="Century, serif">
            <FONT SIZE=3>
                Azure
                Alert will catch new Azure VM deployment to trigger automation
                Runbook using Action group, further Automation Runbook download the
                required script from Azure blob storage inside the new Azure VM to
                perform the task (Domain Join, Nessus tool, Win collect, User
                Creation, Trend Micro) by executing the script one by one.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0.11in"><IMG SRC="../image/Automation_and_OS_Hardening_html_c2836bb1.jpg" NAME="Picture 1" ALIGN=BOTTOM WIDTH=602 HEIGHT=341 BORDER=0></P>
    <P STYLE="margin-bottom: 0.11in">
        <FONT FACE="Century, serif">
            <FONT SIZE=3>
                Figure
                1
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0.11in">
        <BR><BR>
    </P>
</BODY>
</HTML>

