@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spread Your Cloud Gyan Here..</h1>
    <p class="lead">Gap Gyan Club is a knowledge base for Azure Services & Solutions. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Automation & OS Hardening on Azure</h2>
        <p>
            Automate Azure VM OS hardening manual activities using Azure Alerts and Azure Automation Runbooks.
            This article shows you how to configure and run a runbook by using alerts
        </p>
        <p><a class="btn btn-default" href="~/Home/hardening">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Auto Start/Stop VMs in Off Hours</h2>
        <p>Schedule your Azure VMs for Auto Start and Stop according to the requirement using Automation Runbooks (PowerShell).</p>
        <p><a class="btn btn-default" href="~/Home/hardening">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming soon..</h2>
        <p>Ping me your post on my contacts and I will reward the winner.</p>
        <p><a class="btn btn-default" href="~/Home/hardening">Learn more &raquo;</a></p>
    </div>
</div>